[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "==69.5.1"
wheel = "==0.43.0"
numpy = "*"
astropy = "*"

[dev-packages]
flake8 = "==7.0.0"
black = "==24.4.2"
pre-commit = "==3.7.0"
pytest = "==8.2.0"
ipython = "==8.24.0"

[requires]
python_version = "3.12"
